/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "黑体", "Arial", "Microsoft YaHei", "宋体", sans-serif;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
html,body{
  width:100%;
  min-width: 1200px;
  margin: 0 auto;
}


html{
  background-color: #fff;;
  height: 100%;
  /*max-width: 25rem;*/
}
body{
  background-color: #fff;
  height: 100%;
}

/*Chrome 下去除type ==  "number"  时 的右侧图标*/
#n1::-webkit-outer-spin-button,
#n1::-webkit-inner-spin-button{
  -webkit-appearance: none !important;
  margin: 0;
}

/*火狐 下去除type ==  "number"  时 的右侧图标*/
input[type="number"]{-moz-appearance:textfield;}

/*IE下去除 右边的×*/
input::-ms-clear{display:none;}


.my-bullet-active {
  background-color: white !important;
  opacity: 1;
}


